<div id="popup-wrapper" {% if classes %} class="{{ classes|join(' ') }}" {% endif %}>
  <div id="popup">

    <div id="popup-header">
      <h2>
        {% if icon %}
          <i class="icon-{{ icon }}"></i>&nbsp;
        {% endif %}
        {{ title }}
        <a href="#"><i class="icon-remove-sign"></i></a>
      </h2>
    </div>

    <div id="popup-content">
      {% if description %}
        <p>{{ description }}</p>
      {% endif %}
    </div>

    {% if actions %}
      <div id="popup-footer">
        {% for action in actions %}
          <li><a href="{{ action.href }}"><i class="icon-{{ action.icon }}"></i></a></li>
        {% endfor %}
      </div>
    {% endif %}


  </div>
</div>